* {
    margin: 0;
    padding: 0;
}
html, body {
   height: 100%;
}
@media screen and (max-width: 640px) {
 .profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 15px;
 }
 .pic-profile {
    text-align: center;
    margin-top: 50px;
 }
 span {
   font-size: 30px;
   font-weight: bold;
 
 }
 .presentation {
   margin-top: 30px;
 }

 .info-contact, .social-media {
   text-align: center;
 }
 .button-blog, .button-podcast, .button-collaborations, .button-contact {
   height: 35px;
   width: 255px;
   border-radius: 10px;
   margin: 5px 5px;
 }
 .social-media {
   margin-top: 25px;
 }
 .bi {
   margin: 0 5px 0 5px;
 }

}
@media screen and (min-width: 641px) {
   .pic-profile {
      
      width: 50%;
      height: 100%;
      float: left;
      background: lightblue;
   
      
   }
   .profile-picture {
      height: 450px;
      width: 450px;
      border-radius: 15px;
      padding-top: 120px;
   }
   .box-presentation {
      
      width: 50%;
      height: 100%;
      float: right;
      background-color: lightpink;
      padding-top: 120px;
   }
  .first-text {
   font-size: 40px;
   font-weight: bold;
  }
  .second-text, .third-text {
   font-size: 20px;
  }
  .info-work {
   display: inline-block;
   padding-left: 100px;
  }
  .info-contact {
   display: inline-block;
   padding-left: 100px;
   margin-top: 15px;
  }
  .button-blog, .button-podcast, .button-collaborations, .button-contact {
   width: 395px;
   height: 40px;
   border-radius: 10px;
   margin-bottom: 15px;
   border: 0.5px black solid;
  }
  .social-media {
   margin-top: 10px;
   text-align: center;
  }
  i {
   color: black;
   font-size: 20px;
  }
  
}
