* {
    margin: 0;
    padding: 0;
}
body {
   overflow: hidden;
}
html, body {
   height: 100%;
   
}
.first-text {
   font-family: 'lora', sans-serif;
}
.second-text, .third-text, button, .title-website, .link-accueil {
   font-family: 'trykker', sans-serif;
}
.profile-picture {
   box-shadow: 5px 5px 4px black;
}

@media screen and (max-width: 640px) {
   .wrapper {
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 50% 50%;
      
   }
   .title-website {
      margin-left: 10px;
   }
   .link-accueil {
      text-decoration: none;
      color: black;
   }
   .link-home {
      margin-top: 10px;
      text-align: right;
      margin-right: 30px;
      
   }
 
  .box-profile, .wrapper {
   background-image: url(images/Background-1.png);
   
  }
 
   
   .pic-profile {
      
      width: 100%;
      text-align: center;
   }
   .box-presentation {
      
      width: 100%;
      background-color: #FCB5DD;
      padding-top: 40px;
      text-align: center;
   }


 .profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    margin-bottom: -35px;
 }

 .first-text {
   font-size: 28px;
   font-weight: bold;
 }
 .second-text, .third-text {
   font-size: 18px;

 }
 
 .presentation {
   margin-top: 30px;
 }

 .info-contact, .social-media {
   text-align: center;
 }
 .button-blog, .button-podcast, .button-collaborations, .button-contact {
   height: 35px;
   width: 255px;
   border-radius: 10px;
   margin: 5px 5px;
   font-weight: bold;
   font-size: 15px;
 }
 .social-media {
   margin-top: 25px;
   height: 200px;
 }
 .bi {
   margin: 0 5px 0 5px;
 }
 i {
   color: black;
   font-size: 20px;
  }
  footer {
   text-align: center;
   margin-top: 10px;

   padding-bottom: 10px;
   background-color: #FCB5DD;
   height: 50px;
 }
 .text-footer, .bi-c-circle {
   font-size: 15px;
 }
 

}
@media screen and (min-width: 641px) {

   .title-website {
      padding: 10px 0 0 50px;
      font-size: 20px;
   }
   .link-home {
      padding-top: 10px;
      text-align: right;
      padding-right: 50px;
      font-size: 20px;
   }
   .wrapper {
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 50% 50%;
   }
   .nav-left {
    background-image: url(images/Background-1.png);
    height: 50px;  
   }
   .nav-right {

     background-color: #FCB5DD;
     height: 50px; 

   }
   .link-accueil {
      text-decoration: none;
      color: black;
      
   }
 
   .pic-profile {
      
      width: 50%;
      height: 100%;
      float: left;
      background-image: url(images/Background-1.png);
      
   }
   .profile-picture {
      display: inline-block;
      height: 400px;
      width: 400px;
      border-radius: 15px;
      margin: 120px 30px 250px 100px;
      

   }
   
   .box-presentation {
      
      width: 50%;
      height: 100%;
      float: right;
      background-color: #FCB5DD;
      padding-top: 120px;
      padding-left: 85px;
   }
 
  .first-text {
   font-size: 40px;
   font-weight: bold;
  }
  .second-text, .third-text {
   font-size: 20px;
  }
  .info-work {
   display: inline-block;
   padding-left: 100px;
  }
  .info-contact {
   display: inline-block;
   padding-left: 100px;
   margin-top: 15px;
  }
  .button-blog, .button-podcast, .button-collaborations, .button-contact {
   width: 395px;
   height: 40px;
   border-radius: 10px;
   margin-bottom: 15px;
   border: 0.5px black solid;
   font-weight: bold;
   font-size: 15px;
  }
  .social-media {
   margin-top: 10px;
   text-align: center;
  }
  i {
   color: black;
   font-size: 25px;
  }
 button:hover {
   background-color: black;
   color:#FCB5DD;
 }
 footer {
   text-align: center;
   margin-top: 50px;
   

 }
 .text-footer, .bi-c-circle {
   font-size: 15px;
 }
}
