* {
    margin: 0;
    padding: 0;
}
html, body {
   height: 100%;
}
@media screen and (max-width: 640px) {
 .profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 15px;
 }
 .pic-profile {
    text-align: center;
    margin-top: 50px;
 }
 span {
   font-size: 30px;
   font-weight: bold;
 }
 .presentation {
   margin-top: 30px;
 }
 .info-work {
    text-align: center;
 }
 .info-contact, .social-media {
   text-align: center;
 }
 .button-blog, .button-podcast, .button-collaborations, .button-contact {
   height: 35px;
   width: 255px;
   border-radius: 10px;
   margin: 5px 5px;
 }
 .social-media {
   margin-top: 25px;
 }
 .bi {
   margin: 0 5px 0 5px;
 }

}
@media screen and (min-width: 641px) {
   .pic-profile {
      
      width: 50%;
      height: 100%;
      float: left;
      background: lightblue;
   
      
   }
   .profile-picture {
      height: 450px;
      width: 450px;
      border-radius: 15px;
      padding-top: 120px;
   }
   .box-presentation {
      
      width: 50%;
      height: 100%;
      float: right;
      background-color: lightpink;
      padding-top: 120px;
   }
  span {
   font-size: 50px;
   font-weight: bold;
  }
  
}
