body {
    margin: 0;
}
@media screen and (max-width: 640px) {
 .profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 15px;
 }
 .pic-profile {
    text-align: center;
    margin-top: 50px;
 }
 .info-work {
    text-align: center;
 }
 .info-contact, .social-media {
   text-align: center;
 }
}
