* {
    margin: 0;
    padding: 0;
}
html, body {
   height: 100%;
}
.first-text {
   font-family: 'lora', sans-serif;
}
.second-text, .third-text, button, .navbar-brand, .nav-link {
   font-family: 'trykker', sans-serif;
}
@media screen and (max-width: 640px) {

 nav {
   padding-left: 30px;
 }
 .profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 15px;
 }
 .pic-profile {
    text-align: center;
    margin-top: 50px;
 }
 .first-text {
   font-size: 28px;
   font-weight: bold;
 }
 .second-text, .third-text {
   font-size: 18px;

 }
 .box-presentation {
   text-align: center;
 }
 .presentation {
   margin-top: 30px;
 }

 .info-contact, .social-media {
   text-align: center;
 }
 .button-blog, .button-podcast, .button-collaborations, .button-contact {
   height: 35px;
   width: 255px;
   border-radius: 10px;
   margin: 5px 5px;
   font-weight: bold;
   font-size: 15px;
 }
 .social-media {
   margin-top: 25px;
 }
 .bi {
   margin: 0 5px 0 5px;
 }
 i {
   color: black;
   font-size: 20px;
  }
  footer {
   text-align: center;
   margin-top: 10px;
   padding-bottom: 10px;
 }
 .text-footer, .bi-c-circle {
   font-size: 15px;
 }

}
@media screen and (min-width: 641px) {
   nav {
      height: 50px;
      text-align: center;
   }
   .pic-profile {
      
      width: 50%;
      height: 100%;
      float: left;
      background-image: url(images/Background-1.png);
      
   }
   .profile-picture {
      display: inline-block;
      height: 400px;
      width: 400px;
      border-radius: 15px;
      margin: 120px 30px 120px 100px;
      

   }
   
   .box-presentation {
      
      width: 50%;
      height: 100%;
      float: right;
      background-color: #FCB5DD;
      padding-top: 120px;
   }
  .first-text {
   font-size: 40px;
   font-weight: bold;
  }
  .second-text, .third-text {
   font-size: 20px;
  }
  .info-work {
   display: inline-block;
   padding-left: 100px;
  }
  .info-contact {
   display: inline-block;
   padding-left: 100px;
   margin-top: 15px;
  }
  .button-blog, .button-podcast, .button-collaborations, .button-contact {
   width: 395px;
   height: 40px;
   border-radius: 10px;
   margin-bottom: 15px;
   border: 0.5px black solid;
   font-weight: bold;
   font-size: 15px;
  }
  .social-media {
   margin-top: 10px;
   text-align: center;
  }
  i {
   color: black;
   font-size: 25px;
  }
 button:hover {
   background-color: black;
   color:#FCB5DD;
 }
 footer {
   text-align: center;

 }
 .text-footer, .bi-c-circle {
   font-size: 15px;
 }
}
